{% extends 'base.html' %}

{% block content %}

<p>
<h1><b>Future Platform</b></h1>
Income Predictor will be a platform that records your daily tasks and
analyse how productive you are. It will learn to predict your future potentials.<br>

You might want to subscribe to get some producive advices from experts in your field.
</p>

<h1><b>Current Platform</b></h1>
<p>
It just feeds in your hour work weeks, education level, and so on.. (stupid indeed!!) and then predict that your
income is higher or lower than 50k$/year.
</p>

{% endblock content %}
